
<div data-spin="apps.$promise">
  <ul class="list-unstyled app-list">
    <li data-ng-repeat="app in apps" class="app"><a target="_blank" data-ng-href="{{app.trackViewUrl}}" class="app-link">
        <p class="app-icon"><img data-ng-src="{{app.artworkUrl600 || app.artworkUrl512}}"/></p>
        <p class="app-name">{{app.trackName}}</p></a></li>
    <li data-ng-show="isLanding" class="message">输入应用名称开始搜索吧</li>
    <li data-ng-show="apps.$resolved &amp;&amp; !isLanding &amp;&amp; !apps.length" class="message">没有找到任何应用 :(</li>
  </ul>
</div>