doctype html
html
  head
    meta(charset="utf-8")
    title(data-ng-bind-template="{{pageTitle}}")

    link(rel="stylesheet" href="styles/vendor.css")
    link(rel="stylesheet" href="styles/app.css")
    script(src="scripts/vendor.js")
    script(src="scripts/app.js")

  body
    div(data-ui-view)

